<!DOCTYPE html>

<title>One Note</title>
<link rel='stylesheet' href='stylesheets/style.css'>

<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyB0L7Y67Wp-ALOgWjes_6SWaCSWdOhJhEU",
		authDomain: "creative6-143e4.firebaseapp.com",
		databaseURL: "https://creative6-143e4.firebaseio.com",
		projectId: "creative6-143e4",
		storageBucket: "creative6-143e4.appspot.com",
		messagingSenderId: "148818241184"
	};

	firebase.initializeApp(config);
</script>

<script>
	/* global firebase */
	function signOut() {
		document.getElementById('sign-out').disabled = true;
		firebase.auth().signOut();
	}

	function initApp() {
		firebase.auth().onAuthStateChanged(function(user) {
			if (!user) {
				window.open("/login", "_self");
			}
		});
		document.getElementById('sign-out').addEventListener('click', signOut, false);
	}

	window.onload = function() {
		initApp();
	};
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src='/javascripts/note.js'></script>

<div ng-app='note' ng-controller='noteController'>
	<button id='sign-out'>Sign Out</button>
	<textarea id='text' ng-model='text'></textarea>
</div>
