<!doctype html>

<title>Sign In</title>

<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyB0L7Y67Wp-ALOgWjes_6SWaCSWdOhJhEU",
		authDomain: "creative6-143e4.firebaseapp.com",
		databaseURL: "https://creative6-143e4.firebaseio.com",
		projectId: "creative6-143e4",
		storageBucket: "creative6-143e4.appspot.com",
		messagingSenderId: "148818241184"
	};

	firebase.initializeApp(config);
</script>

<script>
	/* global firebase */
	function signIn() {
		document.getElementById('sign-in').disabled = true;
		if (!firebase.auth().currentUser) {
			var provider = new firebase.auth.GithubAuthProvider();
			provider.addScope('repo');
			firebase.auth().signInWithRedirect(provider);
		}
	}

	function initApp() {
		firebase.auth().onAuthStateChanged(function(user) {
			if (user) {
				window.open("/", "_self");
			}
		});
		document.getElementById('sign-in').addEventListener('click', signIn, false);
	}

	window.onload = function() {
		initApp();
	};
</script>

<button id='sign-in'>Sign in with GitHub</button>
